.mat-form-field {
  margin-right: 20px;
  margin-top: 20px;
}

.filter-and-sort-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 600px;
}

.sort, .mat-radio-group, .pagination  {
  display: flex;
  flex-direction: column;
}

.pagination {
  margin-top: 48px;
}

.filter {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.enums {
  margin-top: -45px;
  margin-right: 30px;
  display: grid;
}

.enums__disable-checkbox {
  margin-right: 4px;
  position: relative;
  top: -3px;
}

.sort__radio-btn {
  margin: 5px;
}

.filter__disable-checkbox {
  margin-right: 15px;
  position: relative;
  bottom: 4px;
}

.mat-form-field {
  width: 200px;
  height: 40px;
}

.submit_btn {
  margin: 16px 0 0 auto;
}
