<div class="filter-and-sort-form">
  <div class="enums">
    <h2></h2>
    <form [formGroup]="governmentCheckboxGroup">
      <section>
        <mat-label>
          <p>
          <mat-checkbox class="enums__disable-checkbox" type="checkbox"
                        (change)="changeEnumFormState('government')"></mat-checkbox>
          Government:
          </p>
        </mat-label>
        <p>
          <mat-checkbox formControlName="CORPORATOCRACY">CORPORATOCRACY
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="PUPPET_STATE">PUPPET_STATE
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="NOOCRACY">NOOCRACY</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="TELLUROCRACY">TELLUROCRACY
          </mat-checkbox>
        </p>
      </section>
    </form>

    <form [formGroup]="standardOfLivingCheckboxGroup" style="margin-top: -60px">
      <section>
        <mat-label>
          <p>
          <mat-checkbox class="enums__disable-checkbox" type="checkbox"
                        (change)="changeEnumFormState('standardOfLiving')"></mat-checkbox>
          Standard Of Living:
          </p>
        </mat-label>
        <p>
          <mat-checkbox formControlName="ULTRA_HIGH">ULTRA_HIGH
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="HIGH">HIGH</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="MEDIUM">MEDIUM</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="LOW">LOW</mat-checkbox>
        </p>
      </section>
    </form>
  </div>
  <form [formGroup]="cityFilterAndSortForm" class="filter-and-sort-form">
    <div class="filter">
      <div>
        <h2 style="text-align: center;">Filter</h2>
        <input class="filter__disable-checkbox" type="checkbox"
               (change)="this.selectedFields.name = !this.selectedFields.name">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" [attr.disabled]="selectedFields.name?null:''">
        </mat-form-field>
        <div>
          <input class="filter__disable-checkbox" type="checkbox"
                 (change)="this.selectedFields.x = !this.selectedFields.x">
          <mat-form-field>
            <mat-label>X1</mat-label>
            <input matInput formControlName="x1" [attr.disabled]="selectedFields.x?null:''">
          </mat-form-field>
          <mat-form-field>
            <mat-label>X2</mat-label>
            <input matInput formControlName="x2" [attr.disabled]="selectedFields.x?null:''">
          </mat-form-field>
        </div>
        <div>
          <input class="filter__disable-checkbox" type="checkbox"
                 (change)="this.selectedFields.y = !this.selectedFields.y">
          <mat-form-field>
            <mat-label>Y1</mat-label>
            <input matInput formControlName="y1" [attr.disabled]="selectedFields.y?null:''">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Y2</mat-label>
            <input matInput formControlName="y2" [attr.disabled]="selectedFields.y?null:''">
          </mat-form-field>
        </div>
        <div>
          <input class="filter__disable-checkbox" type="checkbox"
                 (change)="this.selectedFields.area = !this.selectedFields.area">
          <mat-form-field>
            <mat-label>Area 1</mat-label>
            <input matInput formControlName="area1" [attr.disabled]="selectedFields.area?null:''">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Area 2</mat-label>
            <input matInput formControlName="area2" [attr.disabled]="selectedFields.area?null:''">
          </mat-form-field>
        </div>
        <div>
          <input class="filter__disable-checkbox" type="checkbox"
                 (change)="this.selectedFields.population = !this.selectedFields.population">
          <mat-form-field>
            <mat-label>Population 1</mat-label>
            <input matInput formControlName="population1" [attr.disabled]="selectedFields.population?null:''">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Population 2</mat-label>
            <input matInput formControlName="population2" [attr.disabled]="selectedFields.population?null:''">
          </mat-form-field>
        </div>
        <div>
          <input class="filter__disable-checkbox" type="checkbox"
                 (change)="this.selectedFields.metersAboveSeaLevel = !this.selectedFields.metersAboveSeaLevel">
          <mat-form-field>
            <mat-label>Meters Above Sea Level 1</mat-label>
            <input matInput formControlName="meters_above_sea_level1"
                   [attr.disabled]="selectedFields.metersAboveSeaLevel?null:''">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Meters Above Sea Level 2</mat-label>
            <input matInput formControlName="meters_above_sea_level2"
                   [attr.disabled]="selectedFields.metersAboveSeaLevel?null:''">
          </mat-form-field>
        </div>
        <div>
          <input class="filter__disable-checkbox" type="checkbox"
                 (change)="this.selectedFields.timezone = !this.selectedFields.timezone">

          <mat-form-field>
            <mat-label>Timezone 1</mat-label>
            <input matInput formControlName="timezone1" [attr.disabled]="selectedFields.timezone?null:''">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Timezone 2</mat-label>
            <input matInput formControlName="timezone2" [attr.disabled]="selectedFields.timezone?null:''">
          </mat-form-field>
        </div>
      </div>
      <div style="margin-top: 108px">
        <div>
          <input class="filter__disable-checkbox" type="checkbox"
                 (change)="this.selectedFields.height = !this.selectedFields.height">

          <mat-form-field>
            <mat-label>Height 1</mat-label>
            <input matInput formControlName="height1" [attr.disabled]="selectedFields.height?null:''">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Height 2</mat-label>
            <input matInput formControlName="height2" [attr.disabled]="selectedFields.height?null:''">
          </mat-form-field>
        </div>
        <div>
          <input class="filter__disable-checkbox" type="checkbox"
                 (change)="this.selectedFields.birthdayDate = !this.selectedFields.birthdayDate">
          <mat-form-field>
            <mat-label>Birthday Date 1</mat-label>
            <input matInput readonly formControlName="birthday1" [matDatepicker]="dp1">
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1 [disabled]="!selectedFields.birthdayDate"></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Birthday Date 2</mat-label>
            <input matInput readonly formControlName="birthday2" [matDatepicker]="dp2">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2 [disabled]="!selectedFields.birthdayDate"></mat-datepicker>
          </mat-form-field>
        </div>
        <!--      <div>-->
        <!--        <input class="filter__disable-checkbox" type="checkbox"-->
        <!--               (change)="this.selectedFields.birthdayTime = !this.selectedFields.birthdayTime">-->

        <!--        <mat-form-field>-->
        <!--          <mat-label>Birthday Time1</mat-label>-->
        <!--          <input matInput formControlName="birthdayTime1" [ngxTimepicker]="birthday_time1" [format]="24"-->
        <!--                 [attr.disabled]="selectedFields.birthdayTime?null:''" readonly>-->
        <!--          <ngx-material-timepicker #birthday_time1 [enableKeyboardInput]="true"></ngx-material-timepicker>-->
        <!--        </mat-form-field>-->
        <!--        <mat-form-field>-->
        <!--          <mat-label>Birthday Time2</mat-label>-->
        <!--          <input matInput formControlName="birthdayTime2" [ngxTimepicker]="birthday_time2" [format]="24"-->
        <!--                 [attr.disabled]="selectedFields.birthdayTime?null:''" readonly>-->
        <!--          <ngx-material-timepicker #birthday_time2 [enableKeyboardInput]="true"></ngx-material-timepicker>-->
        <!--        </mat-form-field>-->
        <!--      </div>-->
      </div>
    </div>
    <div class="sort" style="margin-right: 10px">
      <h2>Sort</h2>
      <label>Sort by</label>
      <mat-radio-group
        formControlName="sort_field">
        <mat-radio-button class="sort__radio-btn" value="id" [checked]="true">
          id
        </mat-radio-button>
        <mat-radio-button class="sort__radio-btn" *ngFor="let field of fields" [value]="field">
          {{field}}
        </mat-radio-button>
      </mat-radio-group>
      <label>Sort type</label>
      <mat-radio-group
        formControlName="sort_type">
        <mat-radio-button class="sort__radio-btn" value="asc" [checked]="true">ASC</mat-radio-button>
        <mat-radio-button class="sort__radio-btn" value="desc">DESC</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="pagination">
      <mat-form-field>
        <mat-label>Items per page</mat-label>
        <mat-select formControlName="size" (change)="onPaginatorPageSizeChange()">
          <mat-option value="5">5</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="15">15</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Selected Page</mat-label>
        <mat-select formControlName="page">
          <mat-option *ngFor="let i of pageIndexes" [value]="i">{{i}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="submit_btn">
        <button mat-button (click)="submit()" class="btn cursor pointer">Submit</button>
      </div>
    </div>
  </form>
</div>
