<div class="additional-operations">
<!--  <div class="col">-->
<!--    <form [formGroup]="cityNameForm">-->
<!--      <p>Get cities by name</p>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Name</mat-label>-->
<!--        <input matInput formControlName="name">-->
<!--      </mat-form-field>-->
<!--      <button mat-button (click)="getCitiesByName()"-->
<!--              [disabled]="cityNameForm.invalid" class="btn cursor pointer">Find-->
<!--      </button>-->
<!--    </form>-->
<!--  </div>-->
  <div class="col">
    <form [formGroup]="metersAboveSeaLevelFilterForm">
      <p>Get cities with meters above sea level more than: </p>
      <mat-form-field>
        <mat-label>Meters Above Sea Level</mat-label>
        <input matInput formControlName="metersAboveSeaLevel">
      </mat-form-field>
      <button mat-button (click)="getCitiesByMetersAboveSeaLevel()"
              [disabled]="metersAboveSeaLevelFilterForm.invalid" class="btn cursor pointer">Find
      </button>
    </form>
  </div>
  <div class="col">
    <div>
    <p>Get unique values of meters above sea level</p>
    <button mat-button (click)="getUniqueMetersAboveSeaLevel()" class="btn cursor pointer">Find</button>
    <cdk-virtual-scroll-viewport appendOnly class="example-viewport" [itemSize]="5"
                                 *ngIf="this.uniqueMetersAboveSeaLevel.length > 0">
      <div *cdkVirtualFor="let item of uniqueMetersAboveSeaLevel" class="example-item">{{item}}</div>
    </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <div class="col">
    <form [formGroup]="cityNameWithMaxAreaForm">
      <p>The length of the route to the city with the largest area:</p>
      <mat-form-field>
        <mat-label>From City</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <div *ngIf="routeLengthToCityWithMaxArea">
        <p> To City: {{routeLengthToCityWithMaxArea.city}} </p>
        <p> Route length: {{routeLengthToCityWithMaxArea.length}} </p>
      </div>
      <button mat-button (click)="calculateToLargest()" class="btn cursor pointer">Find</button>
    </form>
  </div>
  <div class="col">
    <div>
    <p>Route length from (0,0) to a city with a minimum population</p>
    <div *ngIf="routeLengthToCityWithMinPopulation">
      <p> To City: {{routeLengthToCityWithMinPopulation.city}} </p>
      <p> Route length: {{routeLengthToCityWithMinPopulation.length}} </p>
    </div>
    <button mat-button (click)="calculateToMinPopulated()" class="btn cursor pointer">Find</button>
    </div>
  </div>
</div>

