<div class="add-or-update-form">
  <form [formGroup]="cityForm">
    <h2 style="text-align: center;">{{ (this.data.isAddOperation ? 'Add City' : 'Update City')}}</h2>
    <mat-form-field class="vert-space-20" appearance="fill">
      <mat-label class="text-disabled-clr subtitle-1">Name</mat-label>
      <input matInput formControlName="name">
      <mat-hint *ngIf="requestErrorsMap.get('name')">{{requestErrorsMap.get('name')}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="vert-space-20" appearance="fill">
      <mat-label class="text-disabled-clr subtitle-1">X</mat-label>
      <input matInput formControlName="x">
      <mat-hint *ngIf="requestErrorsMap.get('x')">{{requestErrorsMap.get('x')}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="vert-space-20" appearance="fill">
      <mat-label class="text-disabled-clr subtitle-1">Y</mat-label>
      <input matInput formControlName="y">
      <mat-hint *ngIf="requestErrorsMap.get('y')">{{requestErrorsMap.get('y')}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="vert-space-20" appearance="fill">
      <mat-label class="text-disabled-clr subtitle-1">Area</mat-label>
      <input matInput formControlName="area">
      <mat-hint *ngIf="requestErrorsMap.get('area')">{{requestErrorsMap.get('area')}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="vert-space-20" appearance="fill">
      <mat-label class="text-disabled-clr subtitle-1">Population</mat-label>
      <input matInput formControlName="population">
      <mat-hint *ngIf="requestErrorsMap.get('population')">{{requestErrorsMap.get('population')}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="vert-space-20" appearance="fill">
      <mat-label class="text-disabled-clr subtitle-1">Meters above sea level</mat-label>
      <input matInput formControlName="metersAboveSeaLevel">
      <mat-hint *ngIf="requestErrorsMap.get('metersAboveSeaLevel')">{{requestErrorsMap.get('metersAboveSeaLevel')}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="vert-space-20" appearance="fill">
      <mat-label class="text-disabled-clr subtitle-1">Timezone</mat-label>
      <input matInput formControlName="timezone">
      <mat-hint *ngIf="requestErrorsMap.get('timezone')">{{requestErrorsMap.get('timezone')}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Government</mat-label>
      <mat-select formControlName="government">
        <mat-option *ngFor="let type of governmentTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Standard of living</mat-label>
      <mat-select formControlName="standardOfLiving">
        <mat-option *ngFor="let type of standardOfLivingTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="vert-space-20" appearance="fill">
      <mat-label class="text-disabled-clr subtitle-1">Height</mat-label>
      <input matInput formControlName="height">
      <mat-hint *ngIf="requestErrorsMap.get('height')">{{requestErrorsMap.get('height')}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Birthday Date</mat-label>
        <input matInput readonly formControlName="birthdayDate" [matDatepicker]="dp">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Birthday Time</mat-label>
        <input matInput formControlName="birthdayTime" [ngxTimepicker]="start_time" [format]="24" readonly>
        <ngx-material-timepicker #start_time [enableKeyboardInput]="true"></ngx-material-timepicker>
    </mat-form-field>

    <div class="add-or-update-form__btns">
    <button mat-button (click)="closeDialog()" class="btn cursor pointer">Cancel</button>
    <button mat-button (click)="submit()"
            [disabled]="cityForm.invalid" class="btn cursor pointer">{{ (this.data.isAddOperation ? 'Add' : 'Update' ) }}</button>
    </div>
  </form>
</div>
