.mat-dialog-container{
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14), 0 3px 3px rgba(0, 0, 0, 0.12),
  0 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.add-or-update-form__btns {
  display: flex;
  margin-top: 12px;
  flex-flow: row-reverse;
}

.mat-form-field {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 8px;
}

.mat-input-element, .mat-select {
  padding: 2px 16px 5px 16px !important;
}

.mat-datepicker-content .mat-calendar {
  zoom: 0.85;
}

mat-form-field {
  width: 400px;
}

mat-hint {
  color: red;
}

.vert-space-20 {
  margin-bottom: 20px;
}

